
:root {
    /****Need to add primary color
         Secondary color ******/
         --primary-color: #ecedf6;
         --secondary-color: #465671;

}
.banner {
    display:grid;
    grid-template-columns: max-content;
    padding-bottom: 276.867px;
    background-repeat: no-repeat;
    background-size:cover;
    height:282.866px;
    background-image: url("../assets/images/02-advanced-css-homework-demo.jpg");
}
@media screen and (min-width:1024px){

    .wrapper {
            width:960px;
       
    }
      /**Need to add compatibility screen here**/
    }
    
    .qubits {
        background-color:var(--primary-color);
      
    }
    
    .side-bar {
        grid-area:side-bar;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-items:center;
        
        
    }
   
    .navflex  {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-right:176px;
        margin-left:7px;
    }
   /************************
    *** Need Css for hover for name ****
    ************************/
    .navflex h1:nth-child(2n-1) {
        background-color: cyan ;
        border-left-width:3px;
        border-left-style:solid;
        padding-left: 30px;
        margin-left:-10px;

    }
    .navflex a {
        color:cyan;
    }
    .navflex h1 {
        color: var(--secondary-color);
    }
  
    .footerflex ul{
        display:flex;
        list-style:none;
        justify-content: space-between;
        align-items: center;
        align-self: baseline;
        color: var(--secondary-color);
        
    }
    .content {
        grid-area: content;
        position: relative;
        
    }
    .header {
        grid-area:header;
        
    }
    .wrapper {
        display:grid;
        width:100%;
        grid-template-columns:minmax(0,1fr) minmax(0, 3fr) minmax(0,1fr);
        grid-template-rows: minmax(0,2fr) minmax(0, 10fr) minmax(0,3fr);
        grid-template-areas:
        "header header header"
        "side-bar content content"
        "footer footer footer";
        /*! background-color:lightskyblue; */
        /*! color:slategray; */
        /*! height: 100%; */
       
    }
    .header{
        background-color:var(--secondary-color);
    }
    .footer {
        background-color:var(--primary-color);
    }
    .footer{
        grid-area: footer;
    }
    #pflex {
        color:var(--secondary-color);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin:30px;
        
        
    }
    #pflex p {
        font-size:20px;
        margin-top:648px;
        margin-left:31px;
    }
    #About-me {
        border-right: 5px solid var(--secondary-color);
        height: 97px;
        color:var(--secondary-color);
        /*! margin: auot 20px; */
        padding-left: 57px;
        border-bottom-width:0px;
        border-bottom-style:solid;
        margin-bottom:1036px;
        margin-right:-199px;
        margin-left:-280px;
        margin-top:-390px;
        border-left-width:0px;
        font-size: 64px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #Work {
        border-right: 5px solid var(--secondary-color);
        height: 250px;
        padding: 49px;
        color: var(--secondary-color);
        font-size:80px;
    }
    #Contact-Me {
        border-right: 5px solid var(--secondary-color);
        height: 100px;
        padding-left:65px;
        margin-right:-240px;
        font-size: 33px;
        margin-left:47px;
        color: var(--secondary-color);
    }
