* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
   
}
.hdr {
    margin-bottom: 30px auto auto auto;
    padding: 0px;
    text-align: center;
    font-size: 20px;
    
    justify-content: space-between;
    background: lightgray;
   
}
.hdr nav ul li {
    display: inline;
}
.hdr nav li ul {
    display: inline;
}
footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    
}
footer h2{
    float: left;
    
}
footer ul li {
    display:inline;
}

.row h2{
    padding: 30px;
    background: lightsteelblue;
} 
.row1 h2 {
    padding: 30px;
    background: lightsteelblue;
}